.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:  var(--defaultlayout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner{
    height: 100%;
    width: var(--defaultlayout-width);
}
