@import 'normalize.css';

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root{
    --primary: #fe2c55;
    // Defaultlayout
    --defaultlayout-header-height:60px;
    --defaultlayout-width: 1150px;
    --black:#000;
    --text-color:#333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}


body {
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,input,[tabindex]{
    outline: none;
    border: none;
}
a [href]{
    color:var( --text-color);
    text-decoration: none;
}
.btn {
    min-width: 110px;
    padding: 0 16px;
    height: 3.6rem;
    border-radius: 5px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 550;
    color: var(--text-color);
    &:hover{
        background-color: rgba(22, 24, 35, .03);
    }
}
.btn.btn-login {
    background-color: var(--primary);
    color: #fff;
    font-size: 700;
    border:none;
}
.btn-vertical{
    font-size: 20px;
    padding: 5px 10px;
}